
<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Product Review</title>
</head>
<body>
    <section class="wrapper" layout:fragment="wrapper">
        <div class="row" style="margin: 2% 2% 2% 4%;">

            <div class="col">
                <div class="card-body">
                    <div id="feedback"></div>
                    <form class="form-horizontal" th:action="@{/buyers/product/{id}/review(id=${productId})}"
                          method="post" th:object="${productReview}" action="#">

                        <h3>
                           Your Comments for <span th:text="${productReview.product.name}">the product</span>
                        </h3>
                        <div class="error" th:if="${#fields.hasErrors('*')}">
                            <p th:each="error :${#fields.errors('*')}" th:text="${error}"></p>
                        </div>
                        <div>
                            <textarea id="comment" th:field="${productReview.review}"
                                   placeholder="Write something.." rows="5" cols="75"/>
                        </div>

                        <label for="rating">Your 1-5 rating:</label>
                        <input type="number" th:field="${productReview.rating}" th:value="${productReview.rating}" id="rating">
                        <br>
                        <button class="btn btn-primary btn-sm" id="btn-comment" >Submit &raquo;</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>