<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<head>
    <title>Pending Buyers</title>
</head>

<body>
<section class="wrapper" layout:fragment="wrapper" style="margin-left: 4%">
    <div class="col-lg-12">
        <div class="row">
            <div class="card"  style="width: 80%;">
                <div class="card-body">

                <h3 align="center">Buyers Comments to approve </h3>

                <div th:if="${not #lists.isEmpty(productReviews)}">

                    <table class="class=table table-bordered table-striped" id="myTable" width="100%" cellspacing="0" data-toggle="table" data-maintain-meta-data="true">

                        <thead class="thead-dark">
                        <tr>
                            <th data-sortable="true">Buyer's UserName</th>
                            <th data-sortable="true">Buyer's email </th>
                            <th data-sortable="true">Buyer's review </th>
                            <th data-sortable="true">Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="prod: ${productReviews}">
                            <td th:text="${prod.buyer.user.username}"></td>
                            <td th:text="${prod.buyer.user.email}"></td>
                            <td th:text="${prod.review}"></td>
                            <td>
                                <span th:if="${prod.enabled}">Approved</span>
                                <span th:unless="${prod.enabled}">Pending</span>
                            </td>
                            <td>
                                <form action="#" th:action="@{/admin/reviews/{id}/approve(id=${prod.id})}"  method="post">
                                    <input type="submit" value="Approve" th:if="${prod.isEnabled() ==false}"  class="btn btn-success btn-sm mt-2"/>
                                </form>
                                <form action="#" th:action="@{/admin/reviews/{id}/reject(id=${prod.id})}" method="post">
                                    <input type="submit" value="Reject" th:if="${prod.isEnabled()== true}" class="btn btn-danger btn-sm mt-2"/>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        </div>
    </div>
</section>

    <!-- BUYER HOME END-->
