<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>




<!--        <link rel='stylesheet' type='text/css' media='screen' th:href="@{/css/main.css}">&ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">-->
<!--    <link rel="stylesheet" href="css/bootstrap.min.css">-->

<!--    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>-->

<!--    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>-->
<!--    <script src="js/bootstrap.min.js"></script>-->

<body>
<div class="container" layout:fragment="main-content">
    <!-- BUYER HOME START-->
    <section>
        <div class="row justify-content-md-center">
            <div class="col-12">
                <h3 align="center">Buyers Comments to approve </h3>

                <div th:if="${not #lists.isEmpty(productReviews)}">

                    <table class="class=table table-bordered table-striped" id="myTable" width="100%" cellspacing="0" data-toggle="table" data-maintain-meta-data="true">

                        <thead class="thead-dark">

                        <tr>
                            <th data-sortable="true">Buyer's UserName</th>
                            <th data-sortable="true">Buyer's email </th>
                            <th data-sortable="true">Buyer's review </th>
                            <th data-sortable="true">Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="prod: ${productReviews}">
                            <td th:text="${prod.buyer.user.username}"></td>
                            <td th:text="${prod.buyer.user.email}"></td>
                            <td th:text="${prod.review}"></td>
                            <td>
                                <span th:if="${prod.enabled}">Approved</span>
                                <span th:unless="${prod.enabled}">Pending</span>
                            </td>


                            <td>
                                <!--                            <form action="#" th:action="@{/admin/reviews/} + ${prod.id} + @{/approve}" method="post">-->

                                <form action="#" th:action="@{admin/reviews/{id}/approve(id=${prod.id})}"  method="post">
                                    <input type="submit" value="Approve" th:if="${prod.isEnabled() ==false}"  class="btn btn-sm btn-primary"/>
                                </form>


                                <!--                            <form action="#" th:action="@{/admin/reviews/} + ${prod.id} + @{/reject}" method="post">-->
                                <form action="#" th:action="@{admin/reviews/{id}/approve(id=${prod.id})}" method="post">
                                    <input type="submit" value="Reject" th:if="${prod.isEnabled()== true}" class="btn btn-danger btn-sm mt-2"/>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </section>
</div>
    <!-- BUYER HOME END-->
</body>
</html>