<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>Home Page</title>

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</head>
<body>
<div class="container" layout:fragment="main-content">
    <!-- BUYER HOME START-->
    <section>
        <div class="row justify-content-md-center">
            <div class="col-12">
                <h3 align="center">Products to be approved</h3>
                <table class="class=table table-bordered table-striped" id="myTable" width="100%" cellspacing="0" data-toggle="table" data-maintain-meta-data="true">

                    <thead class="thead-dark">
                    <tr>
                        <th data-sortable="true">Product Name</th>
                        <th data-sortable="true">Seller's UserName</th>
                        <th data-sortable="true">Price</th>
                        <th data-sortable="true">Quantity</th>
                        <th data-sortable="true">Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product: ${products}" >
                        <td th:text="*{product.name}"></td>
                        <td th:text="${product.seller.user.username}"></td>
                        <td th:text="${product.seller.user.email}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.quantity}"></td>

                        <td>
                            <form action="#" th:action="@{admin/products/{id}/approve(id=${product.id})}" method="post">
                                <input type="submit" value="Approve" th:if="${product.isEnabled() ==false}" class="btn btn-sm btn-primary btn-lg"/>
                            </form>

                            <form action="#" th:action="@{admin/products/{id}/reject(id=${product.id})}" method="post">
                                <input type="submit" value="Reject" th:if="${product.isEnabled()== true}" class="btn btn-danger btn-sm btn-lg"/>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- BUYER HOME END-->
</div>
</body>

</html>