<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" layout:fragment="main-content">
    <!-- BUYER HOME START-->
    <section>
        <div class="row justify-content-md-center">
            <div class="col-12">
                <h3 align="center">Products to be approved</h3>
                <table class="class=table table-bordered table-striped" id="myTable" width="100%" cellspacing="0" data-toggle="table" data-maintain-meta-data="true">

                    <thead class="thead-dark">
                    <tr>
                        <th data-sortable="true">Product Name</th>
                        <th data-sortable="true">Seller's UserName</th>
                        <th data-sortable="true">Price</th>
                        <th data-sortable="true">Quantity</th>
                        <th data-sortable="true">Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product: ${products}" >
                        <td th:text="*{product.name}"></td>
                        <td th:text="${product.seller.user.username}"></td>
                        <td th:text="${product.seller.user.email}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.quantity}"></td>

                        <td>
                            <form action="#" th:action="@{admin/products/{id}/approve(id=${product.id})}" method="post">
                                <input type="submit" value="Approve" th:if="${product.isEnabled() ==false}" class="btn btn-sm btn-primary btn-lg"/>
                            </form>

                            <form action="#" th:action="@{admin/products/{id}/reject(id=${product.id})}" method="post">
                                <input type="submit" value="Reject" th:if="${product.isEnabled()== true}" class="btn btn-danger btn-sm btn-lg"/>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- BUYER HOME END-->
</div>
</body>

</html>