<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<head>
    <title>Products</title>
</head>

<body>
<section class="wrapper" layout:fragment="wrapper" style="margin-left: 4%">
    <div class="col-lg-12">
        <div class="row">
            <div class="card"  style="width: 80%;">
                <div class="card-body">
                <h3 align="center">Products to be approved</h3>
                <table class="class=table table-bordered table-striped" id="myTable" width="100%" cellspacing="0" data-toggle="table" data-maintain-meta-data="true">

                    <thead class="thead-dark">
                    <tr>
                        <th data-sortable="true">Product Name</th>
                        <th data-sortable="true">Seller's UserName</th>
                        <th data-sortable="true">Price</th>
                        <th data-sortable="true">Quantity</th>
                        <th data-sortable="true">Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product: ${products}" >
                        <td th:text="*{product.name}"></td>
                        <td th:text="${product.seller.user.username}"></td>
                        <td th:text="${product.seller.user.email}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.quantity}"></td>

                        <td>
                            <form action="#" th:action="@{admin/products/{id}/approve(id=${product.id})}" method="post">
                                <input type="submit" value="Approve" th:if="${product.isEnabled() ==false}" class="btn btn-success btn-sm mt-2"/>
                            </form>

                            <form action="#" th:action="@{admin/products/{id}/reject(id=${product.id})}" method="post">
                                <input type="submit" value="Reject" th:if="${product.isEnabled()== true}" class="btn btn-danger btn-sm btn-lg"/>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</section>
    <!-- BUYER HOME END-->
