<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>Order Detail Page</title>
</head>

<body>
<section class="wrapper" layout:fragment="wrapper">
    <div th:if="${order == null}">Nothing to see here...</div>
    <div class="col-lg-8" th:if="${order != null}">
        <div class="row">
            <h2 style="justify-content: center">Simple Shop Receipt</h2>
            <div th:object="${order}">
                <h3>
                    Order Number <span th:text="*{billingInfo.orderNumber}"/>
                </h3>
                <p>
                    Order Date:<span th:text="*{billingInfo.transactionDate}"/>
                </p>
                <p>
                    Total Price:<span th:text="*{totalCost}"/>
                </p>

                <h4>Shipping Address:</h4>
                <p class="tab" th:object="${order.shippingAddress}">
                    Street: <span th:text="*{street}"/> <br/>
                    City: <span th:text="*{city}"/> <br/>
                    State: <span th:text="*{state}"/> <br/>
                    Zip code: <span th:text="*{zip}"/> <br/>
                </p>

                <h3>Product Details</h3>
                <hr/>
                <div class="tab" th:each="orderLine :${order.orderLines}">
                    Product Name: <span th:text="${orderLine.product.name}"/> <br/>
                    Product Price: <span th:text="${orderLine.product.price}"/><br/>
                    Product quantity: <span th:text="${orderLine.product.quantity}"/><br/>
                    Product Description: <span th:text="${orderLine.product.description}"/><br/>
                    <p> </p>
                </div>
                <hr/>
                <p class="tab">Total Price:<span th:text="*{totalCost}"/></p>

                <p>Go
                    <a th:href="@{/receipts/order-receipt{orderNumber}.pdf(orderNumber=${order.billingInfo.orderNumber})}">here</a> to download your receipt.</p>

            </div>
        </div>
    </div>
</section>
</body>
</html>


