<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<section class="panel" th:fragment="categories">
    <header class="panel-heading">Categories</header>
    <div class="list-group">
        <ul>
            <li><a class="list-group-item" th:href="@{/product}">Show All</a></li>
            <li th:each="category : ${categories}">
                <a th:text="${category.name}" th:href="@{/product(category=${category.id})}"></a>
            </li>
        </ul>
    </div>
</section>

</body>
</html>