<!DOCTYPE html>
<html style="overflow: hidden;" xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
</head>
<body>
    <header th:fragment="header" class="header dark-bg">
        <!--logo start-->
        <a th:href="@{/}" class="logo">Simple Online<span class="lite">Shop</span></a>

        <!--logo end-->
        <div class="navbar-right">
            <i class="ui-icon-cart"></i>
        <button class="btn btn-primary border-top mr-2" onclick="location.href='/signup'"><span class="icon_cog"></span>SIGNUP</button>
        <button class="btn btn-success ml-auto" data-toggle="modal" data-target="#loginModal"><span class="icon_heart"></span>LOGIN</button>
        </div>
        <style type="text/css">

        </style>



</header>
</body>
</html>