<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>SimpleOnlineShop - Home</title>
</head>

<body>
<section class="wrapper" layout:fragment="wrapper">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">
                    <i class="fa fa-shopping-cart"></i>
                    <div th:text="${categories.size()}" class="count"></div>
                    <div class="title">Categories</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box green-bg">
                    <i class="fa fa-cubes"></i>
                    <div th:text="${productsCount}" class="count"></div>
                    <div class="title">Products</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div th:each="products: ${productsHome}" class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card">
<!--                    <img class="card-img" th:src="@{/images/{value}(value=${products.id})}" alt="Vans">-->
                    <img class="card-img" th:src="@{/images/cool-status.jpg}" alt="Vans">
                    <div class="card-img-overlay d-flex justify-content-end">
                        <a th:text="${products.quantity}"  class="card-link text-danger like"></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" th:text="${products.name}"></h4>
                        <h6 class="card-subtitle mb-2 text-muted">Sold By: <a th:href="@{/sellers/profile/{id}(id=${products.seller.id})}"><span th:text="${products.seller.user.username}"></span></a></h6>
                        <p>Description: <span th:text="${products.description}"></span></p>
                        <div class="buy d-flex justify-content-between align-items-center">
                            <div class="price text-success" th:text="${products.price}"><h5 class="mt-4"></h5></div>
                            <a th:href="@{/buyers/cart/add/{productId}(id=${products.id})}" class="btn-success"><i class="icon_cart"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <section class="panel" layout:fragment="categories">
            <header class="panel-heading">
                CATEGORIES
            </header>
                <ul class="list-group" th:each="category: ${categories}" >
                    <a class="list-group-item" th:text="${category.name}" th:href="@{/products(category=${category.id})}"></a>
                </ul>
            </section>
    </div>


</section>



</body>
</html>