<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>SimpleOnlineShop - Home</title>
</head>

<body>
<section class="wrapper" layout:fragment="wrapper">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">
                    <i class="fa fa-shopping-cart"></i>
                    <div th:text="${categories.size()}" class="count"></div>
                    <div class="title">Categories</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box green-bg">
                    <i class="fa fa-cubes"></i>
                    <div th:text="${productsCount}" class="count"></div>
                    <div class="title">Products</div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-3" th:each="products: ${productsHome}">
            <div class="dress-card">
                <div class="dress-card-head">
                    <a th:href="@{/thisProduct/{id}(id=${products.id})}"><img class="dress-card-img-top" th:src="@{/images/{value}(value=${products.getImageIdentifier()})}"></a>
                    <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a th:href="@{/sellers/profile/{id}(id=${products.seller.id})}"> <span th:text="${products.seller.user.username}"></span></a></div>
                </div>
                <div class="dress-card-body">
                    <h3 class="dress-card-title" th:text="${products.name}"></h3>

                    <div th:if="${itemId.id == products.id}" th:text="${itemId.message}" style="color: red">
                        Feedback message
                    </div>&nbsp;
                    <h4> On Stock: <span th:text="${products.quantity}"></span> </h4>
                    <h3>$<span class="dress-card-price" th:text="${products.price}" style="color: #4da944; font-size: large"></span></h3>
                    <div class="row">
                        <form sec:authorize="hasAuthority('BUYER')" action="#" th:action="@{/buyers/cart/add/{id}(id=${products.id})}" method="post">
                            <label for="quantity">Quantity: </label>
                            <input required id="quantity" type="number" name="quantity" class="form-control"/>
                            <button type="submit" class="btn btn-primary centered">
                                <span class="icon_cart mr-2"></span>Add to Cart!
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
    </div>
    <div class="col-lg-3">
        <section class="panel" layout:fragment="categories">
            <header class="panel-heading">
                CATEGORIES
            </header>
                <ul class="list-group" th:each="category: ${categories}" >
                    <a class="list-group-item" th:text="${category.name}" th:href="@{/products(category=${category.id})}"></a>
                </ul>
            </section>
    </div>
</section>

</body>
</html>