<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>SimpleOnlineShop - Home</title>
</head>

<body>
<section class="wrapper" layout:fragment="wrapper">
    <div class="row">
        <div class="col-lg-3">
            <div class="info-box blue-bg">
                <img th:href="@{/images/cool-status.jpg}"/>
            </div>
        </div>
        <div class="col-lg-6" th:object="${sellerPro}">
            <div class="dress-card">
                <div class="dress-card-head">
                    <h2>Seller Username: <span th:text="*{user.username}"></span></h2>
                    <h3>Email: <span th:text="*{user.email}" /></h3>
                    <h2>Total Products: <span th:text="*{products.size()}" /></h2>
                    <div th:if="${not followed}">
                        <form action="#" th:action="@{/buyers/following/{id}/follow(id=*{id})}" method="post">
                            <span class="icon_heart"></span>
                            <button type="submit" class="btn btn-send">Follow</button>
                        </form>
                    </div>
                    <div th:if="${followed}">
                        <form action="#" th:action="@{/buyers/following/{id}/unfollow(id=*{id})}" method="post">
                            <span class="icon_heart"></span>
                            <button type="submit" class="btn btn-send">Unfollow</button>
                        </form>
                    </div>


                    <br/>
                    <h3>List of Products</h3>
                    <div th:each="product :${sellerPro.products}" class="col-lg-5">
                        <span th:text="${product.name}"/> for <span th:text="${product.price}"/><br/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <section class="panel" layout:fragment="categories">
                <header class="panel-heading">
                    Recent Reviews!
                </header>
                <ul class="list-group" th:each="comment :${reviews}" >
                    <li class="list-group-item" th:text="${comment.review}"></li>
                </ul>
            </section>
        </div>
    </div>
</section>

</body>
</html>