<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>Order Detail Page</title>
</head>

<body>
<section class="wrapper" layout:fragment="wrapper">
    <div class="col-lg-8">
        <div class="row">
            <div th:object="${order}">
                <h3>Order Number <span th:text="*{billingInfo.orderNumber}"/></h3>
                <p> Order Date:<p th:text="*{billingInfo.transactionDate}"></p>
                <p> Total Price:<span th:text="*{totalCost}"/></p>
                <!--<p> Shipping Status:<span th:text="*{shippingStatus}"/></p>-->
                <tr>
                    <td>Shipping Status</td>
                    <td>
                        <select class="form-control" th:field="*{orderStatus}" required>
                            <option value=""> -- Select One --</option>
                            <option th:each="status: ${orderStatus}"
                                    th:value="${status}"
                                    th:text="${status}"/>
                        </select>
                    </td>
                </tr>
                <!--   <p><b> Billing Address:<p th:text="*{billingInfo.getBillingAddress()}"></p>-->
                <fieldset>
                    <legend>Product Details</legend>
                    <hr/>
                    <p th:each="orderLine :${order.orderLines}">
                    <p><b> Product Name: <span th:text="${orderLine.product.name}"/></b></p>
                    <p><b> Product Price: <span th:text="${orderLine.product.price}"/></b></p>
                    <p><b> Product qnt: <span th:text="${orderLine.product.quantity}"/></b></p>
                    <p><b> Product Seller: <span th:text="${orderLine.product.seller}"/></b></p>
                    <p><b> Product Description: <span th:text="${orderLine.product.description}"/></b></p>
                    </p>
                    <!-- <p><b> Total Price:<p>Total: <span th:text="*{totalCost}"/></p>-->
                </fieldset>

                <input type="hidden" id="id" th:field="*{id}">
                <input type="hidden" id="orderStatus" th:field="*{orderStatus}">
                <div class="col-md-6">
                    <input type="submit" class="btn btn-success" value=" Update ">
                </div>

            </div>
        </div>
    </div>
</section>