<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>SimpleOnlineShop - Home</title>
</head>
<body>
<section class="wrapper" layout:fragment="wrapper">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Basic Forms
            </header>
            <div class="panel-body">
                <!--  <form role="form" th:object="${buyer}" action="#" th:action="@{/buyers/register}" method="POST">-->
                <form role="form" th:object="${seller}" action="#" th:action="@{/sellers/update}" method="POST">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_profile"></i></span>
                            <input type="text" th:field="*{user.username}" name="username" class="form-control" placeholder="*Username" autofocus="">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                            <input name="password" type="password" th:field="*{user.password}" class="form-control" placeholder="*Password">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                            <input name="text" type="text" th:field="*{user.email}" class="form-control" placeholder="*Email">
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-primary" type="submit">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>