<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div >
    <form th:object="${buyer}" action="#" th:action="@{/buyers/register}" method="post">
        <label>Username: </label>
        <input type="text" th:field="*{user.username}"/><br/>
        <label>Password: </label>
        <input type="password" th:field="*{user.password}"/><br/>
        <label>Email: </label>
        <input type="text" th:field="*{user.email}"/><br/>
        <label>Shipping Address: </label>
        <input type="address" th:field="*{shippingAddress}"/><br/>
        <label>Billing Address: </label>
        <input type="address" th:field="*{billingAddress}"/><br/>
        <input type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>