<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>SimpleOnlineShop - Home</title>
</head>

<body>
<section class="wrapper" layout:fragment="wrapper">
    <div class="row">
        <div class="col-lg-3">
            <div class="info-box blue-bg">
                <img th:href="@{/images/cool-status.jpg}"/>
            </div>
        </div>
        <div class="col-lg-6" th:object="${buyer}">
            <div class="dress-card">
                <div class="dress-card-head">
                    <h2>Buyer's Username: <span th:text="*{user.username}"></span></h2>
                    <h3>Password: <span th:text="*{user.password}"></span> </h3>
                    <h3>Total Orders:<span th:text="*{orders.size()}"></span> </h3>
                    <h2>Total Reviews: <span th:text="*{productReviews.size()}"></span></h2>
                    <h2>Gain Points: <span th:text="*{gainPoints}"></span></h2>
                    <br/>
                    <h3>List of Order</h3>
                    <div th:each="orders:${buyer.orders}" class="col-lg-5">
                    </div>
                    <br />
                    <h3>List of Reviews</h3>
                    <div th:each="reviews:${buyer.productReviews}" class="col-lg-5">
                    </div>
                    <h4> Add Review!</h4>
                    <!--              </span><a th:href="@{/sellers/profile/{id}(id=${products.seller.id})}"> <span th:text="${products.seller.user.username}"></span></a></div>-->
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <section class="panel" layout:fragment="categories">
                <header class="panel-heading">
                    Orders are shipped to:
                </header>
                <ul class="list-group" th:each="orders: ${buyer.shippingAddress}" >
                    <p class="list-group-item" th:text="${orders}"></p>
                </ul>
            </section>
        </div>
    </div>
</section>

</body>
</html>