<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>SimpleOnlineShop - Home</title>
</head>
<body>
<section class="wrapper" layout:fragment="wrapper">
    <div class="col-lg-6">
        <section class="panel">
            <header class="panel-heading">
                Basic Forms
            </header>
            <div class="panel-body">
                <form role="form" th:object="${buyer}" action="#" th:action="@{/buyers/update/{id}}" method="POST">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_profile"></i></span>
                            <input type="text" th:field="*{user.username}" name="username" class="form-control" placeholder="*Username" autofocus="">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                            <input name="password" type="password" th:field="*{user.password}" class="form-control" placeholder="*Password">
                        </div>
                        <div class="input-group">
                            <label>Shipping Address</label>
                            <input type="text" th:field="*{shippingAddress.street}" id="sStreet" class="form-control" placeholder="*Street">
                            <input type="text" th:field="*{shippingAddress.city}" id="sCity" class="form-control" placeholder="*City">
                            <input type="text" th:field="*{shippingAddress.state}" id="sState" class="form-control" placeholder="*State">
                            <input type="text" th:field="*{shippingAddress.zip}" id="sZip" class="form-control" placeholder="*Zipcode">
                        </div>
                        <!--Same as shipping code -->
                        <input type="checkbox" onclick="SetBilling(this.checked);"/> Same as Shipping
                        <div class="input-group input-box">
                            <label>Billing Address</label>
                            <input type="text" th:field="*{billingAddress.street}" id="bStreet" class="form-control" placeholder="*Street">
                            <input type="text" th:field="*{billingAddress.city}" id="bCity" class="form-control" placeholder="*City">
                            <input type="text" th:field="*{billingAddress.state}" id="bState" class="form-control" placeholder="*State">
                            <input type="text" th:field="*{billingAddress.zip}" id="bZip" class="form-control" placeholder="*Zipcode">
                        </div>
                        <!--<button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>-->
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-primary" type="submit">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>