<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>SimpleOnlineShop - Home</title>
</head>

<body>
<section class="wrapper" layout:fragment="wrapper">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                My Sellers
            </header>
            <h2 th:if="${#lists.isEmpty(follows)}">Looks like you're not following anyone</h2>
            <table class="table table-striped table-advance table-hover" th:each="followedSeller:${follows}">
                <tbody>
                <tr>
                    <th><i class="icon_profile"></i> Username</th>
                    <th><i class="icon_box-empty"></i> Products</th>
                    <th><i class="icon_mail_alt"></i> Email</th>
                    <th><i class="icon_mail_alt"></i> Profile page</th>
                </tr>
                <tr>
                    <td th:text="${followedSeller.user.username}"></td>
                    <td>
                        <ul>
                            <li th:each="product :${followedSeller.products}" th:text="${product.name}"></li>
                        </ul>
                    </td>
                    <td th:text="${followedSeller.user.email}"></td>
                    <td>
                        <div class="btn-group">
                            <a th:href="@{/sellers/profile/{id}(id=${followedSeller.id})}">Visit</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>

</section>



</body>
</html>























<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--<head>-->
<!--    <title>Shopping Cart</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="row" style="margin:2%;margin-left: 4%">-->
<!--    &lt;!&ndash; for each part using expression language  Iteration th:each   &ndash;&gt;-->
<!--    <div class="col">-->
<!--        &lt;!&ndash; <div th:if="${successMessage}" >-->
<!--             <p class="alert alert-success" > <span th:text="${successMessage}" th:remove="tag" ></span></p>-->
<!--         </div>-->
<!--         <div  th:if="${errorMessage}">-->
<!--             <p class="alert alert-danger" > <span th:text="${errorMessage}" th:remove="tag" ></span></p>-->
<!--         </div>-->
<!--         <div class="row">&ndash;&gt;-->

<!--        <div th:each="seller,iStat : ${loggedInBuyer}">-->
<!--            <div th:class="${iStat.even}? 'col' : 'w-100' " style="margin:2%;">-->
<!--                <div class="card" style="width:15rem;">-->
<!--                    <div class="card-body" style="width: 300px;">-->
<!--                        <h5 class="card-title" th:text="${seller.user.username}">Card title</h5>-->

<!--                        <p class="card-text" th:text="${seller.user.email}">Some quick example text to build-->
<!--                            on the-->
<!--                            card title and make up the bulk of the card's content.</p>-->

<!--                        <p>-->

<!--                            &lt;!&ndash; <a class="btn btn-primary btn-sm"-->
<!--                                th:href="@{'/follower/ListProduct' (id=${seller.id})}">-->
<!--                                 &laquo; View Details </a>&ndash;&gt;-->

<!--                            <a class="btn btn-primary btn-sm"-->
<!--                               th:href="@{'/buyers/following/{id}/unfollow' (id=${seller.id})}">-->
<!--                                UnFollow &raquo;</a>-->
<!--                        </p>-->

<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->