<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Orders list</title>
</head>
<body>
<div id="contents" class="row" layout:fragment="main-content">
    <div th:replace="components/userAccessMenu :: mnu">User menu</div>
    <div class="col-lg-9">
        <div class="h4">Orders</div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Ordered products</th>
                <th scope="col">Total sum</th>
                <th scope="col">Seller</th>
                <th scope="col">Sipping address</th>
                <th scope="col">Dates</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order,iter : ${orders}">
                <th scope="row" th:text="${iter.index+1}">1</th>
                <td th:text="${order.getBillingInfo()}">Billing info</td>
                <td>
                    <div th:each="op :${order.getOrderLines()}" th:text="${op}">iPhone</div>
                </td>
                <td th:text="${order.getTotalCost()}">$100</td>
<!--                <td th:text="${order.}">Someone seller</td>-->
                <td th:text="${order.shippingAddress}">07/13/2020</td>
                <td>
                    <div th:text="${'Ordered: ' + order.getDate()}">07/13/2020</div>
<!--                    <div th:if="${order.getDate()!=null}" th:text="${'Shipped: '+order.shippingDate}">07/13/2020-->
<!--                    </div>-->

                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/buyer.js}"></script>
</th:block>
</body>
</html>