<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}"
      xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>Order Page</title>
</head>

<body>
<section class="wrapper" layout:fragment="wrapper">
    <div class="col-lg-8">
        <div class="row">
                <h2 th:if="${#lists.isEmpty(orders)}">No record found !!</h2>
                <div th:if="${not #lists.isEmpty(orders)}">
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Total Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order :${orders}">
                            <td th:text="${order.billingInfo.orderNumber}"></td>
                            <td th:text="${order.date}"></td>
                            <td th:text="${order.totalCost}"></td>
                            <td><a th:href="@{/buyers/orders/{id}(id=${order.id})}" class="btn btn-primary">View Details</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

