<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

    <h2>Shopping Cart</h2>
    <hr/>
    <h4>Please mark items you'd like to purchase</h4>

    <h5 th:if="${errorMessage} != null" th:text="${errorMessage}"></h5>

    <form th:action="@{/buyers/my-cart/make-purchase}" th:object="${itemsForCheckOut}" method="post" action="#">
        <div>
            <p th:each="cartItems :${cartItems}">
                <input type="checkbox" name="itemsForCheckOut" th:value="${cartItems}" th:text="${cartItems.product.name}">
                <span th:text="${cartItems.product.price}"/>
                <span th:text="${cartItems.product.quantity}"/>
                <a th:href="@{/buyers/my-cart/remove/{id}(id=${cartItems.id})}">Remove from Cart</a>
            </p>
        </div>
        <button class="btn btn-primary" type="submit">Purchase</button>
        <form action="https://google.com">
            <button class="btn btn-default" type="submit">Continue Shopping</button>
        </form>
    </form>

</body>
</html>